header {
  display: flex;
  position: absolute;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 16px;
  padding-top: 28px;
  z-index: 10;
}

.mobile-menu {
  margin-left: 137px;
  padding-top: 10px;
  &__button {
    padding: 0;
    background-color: transparent;
    border: none;
    transition: fill 250ms ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
}
