.hero {
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  padding-top: 127px;
  padding-right: 22px;
  padding-left: 22px;
  height: 440px;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin: 0;

    color: $dark-grey;
  }

  &__button {
    width: 200px;
    height: 45px;
    margin-top: 54px;
    margin-left: 38px;
    margin-right: 38px;
    border: none;
    background: $orange;
    border-radius: 2px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
