.hero {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../images/mobile/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding-top: 127px;
  padding-right: 22px;
  padding-left: 22px;
  height: 440px;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 1199px),
    screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1199px),
    screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1199px) {
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url(../images/mobile/hero-background@2x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 3) and (max-width: 1199px),
    screen and (-webkit-min-device-pixel-ratio: 3) and (max-width: 1199px),
    screen and (-o-min-device-pixel-ratio: 3/1) and (max-width: 1199px) {
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url(../images/mobile/hero-background@3x.jpg);
  }

  @include desktop {
    background: linear-gradient(
        277.21deg,
        rgba(255, 255, 255, 0.7) 20.92%,
        rgba(255, 255, 255, 0) 57.97%
      ),
      url("../images/desktop/hero-background.jpg");
    background-size: cover;
    height: 613px;
    padding-top: 170px;
    padding-right: 110px;
    padding-left: 608px;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
      screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
      screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1200px) {
      background-image: linear-gradient(
          277.21deg,
          rgba(255, 255, 255, 0.7) 20.92%,
          rgba(255, 255, 255, 0) 57.97%
        ),
        url(../images/desktop/hero-background@2x.jpg);
    }
    @media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px),
      screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 1200px),
      screen and (-o-min-device-pixel-ratio: 3/1) and (min-width: 1200px) {
      background-image: linear-gradient(
          277.21deg,
          rgba(255, 255, 255, 0.7) 20.92%,
          rgba(255, 255, 255, 0) 57.97%
        ),
        url(../images/desktop/hero-background@3x.jpg);
    }
  }

  &__title {
    font-style: normal;
    width: 100%;
    max-width: 400px;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin: 0 auto;
    color: $dark-grey;

    @include desktop {
      font-style: normal;
      font-weight: bold;
      font-size: 56px;
      line-height: 68px;
      text-align: right;
      color: $dark-grey;
    }
  }

  &__button {
    display: block;
    width: 200px;
    height: 45px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: $orange;
    border-radius: 2px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 250ms ease-in-out;

    @include desktop {
      margin-top: 25px;
      margin-left: 282px;
      margin-right: 0px;
    }
  }
}
