html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  position: relative;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  @include desktop {
    width: 1200px;
  }
}

.button_hover:hover {
  background: #f94d03;
  cursor: pointer;
}
